.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}


.form_container{
border-radius: 15px;
width: 340px;
background-color: rgb(241, 234, 234);
padding: 16px 32px;
}

.form_name{
display: flex;
flex-direction: row;
justify-content: space-between;
}