.container_daycell {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid red;
    padding: 8px;
    border-radius: 15px;
    
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}