.container_daycell {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid red;
    padding: 8px;
    border-radius: 15px;

}

.activeDay {
    background-color: #d6e6f1;

}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.tasks_list {
    display: flex;
    flex-direction: column;
}

.day {
    cursor: pointer;
}

.task_container {
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.task_container:hover {
    background-color: #d6e6f1;
    transform: scale(1.1);
}

.description {
    max-width: 150px;
  max-height: 60px;
    overflow: auto;
}