.container_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(140px, auto);
    gap: 10px;

    padding: 12px;
    background-color: #f5f7fa;
    border-radius: 20px;
}



.emptyCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid rgba(49, 49, 49, 0.212);
    padding: 8px;
    border-radius: 15px;
}