.container_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 150px);
    gap: 10px;
}

.emptyCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid rgba(49, 49, 49, 0.212);
    padding: 8px;
    border-radius: 15px;
}
